<% if can? :create, Dish %>
<%= link_to 'New Dish', new_dish_path %>
<% end %>

<% @dishes.each_with_index do |dish, i| %>
    <% if i%3 == 0 %>
        <div class="row">
    <% end %>

    <div class="span4"><%= link_to image_tag(dish.pictures.last.url, :class => 'img-rounded') , dish%></div>

    <% if i%3 == 2 %>
        </div>
    <% end %>
<% end %>
