
<div class="row">
	<div class="span3 offset5">
		<% if can? :create, Restaurant %>
    		<%= link_to 'New Restaurant', new_restaurant_path , :class => 'btn btn-primary'%>
    	<% else %>
    		<%= link_to 'New Order', new_order_path , :class => 'btn btn-primary'%>
		<% end %>
    </div>
</div>

<% @restaurants.each_with_index do |restaurant, i| %>
    <% if i%3 == 0 %>
        <div class="row">
    <% end %>

    <div class="span4"><%= link_to image_tag(restaurant.pictures.first.url, :class => 'img-rounded') , restaurant%></div>

    <% if i%3 == 2 %>
        </div>
    <% end %>
<% end %>


